<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4Union_boom0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,257},{74,71}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{74,71}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,254},{74,71}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{74,71}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,87},{90,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,79}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,87},{90,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{90,79}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,89},{90,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{90,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{90,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,87},{92,83}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{92,83}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,85}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,83}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,83}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,172},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,168},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,168},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,258},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,258},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,254},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,174},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{84,83}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{84,77}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,259},{84,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{84,77}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{84,67}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{84,67}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,338},{84,67}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{84,67}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,87},{84,31}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,52},{84,31}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>4Union_boom0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,173},{82,31}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,52},{82,31}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Union4Boom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c752d7c77fad1d25975c0042847c9df:1/1$</string>
            <key>textureFileName</key>
            <string>Union4Boom.png</string>
        </dict>
    </dict>
</plist>
